@font-face {
  font-family: 'Roboto';
  src: url('./webfonts/Roboto-Regular.ttf');
}

:root {
  --dark-grey:#080808;
  --accent-grey: #787878;
  --lobby-victory-text: #5cd7e4;
  --lobby-defeat-text: #ba4b45;
  --lobby-victory-background: rgba(92, 215, 228, 0.5);
  --lobby-defeat-background: rgb(186, 75, 69, 0.5);
  --minicard-text: #9a96a4;
  --minicard-background: #020202;
  --minicard-since-background: #5d4e73;
  --error-background: #e84057;
  --role-icon-size: 12px;
  --portrait-size: 70px;
  --orb-size: 40px;
}

html{
  background-color: var(--dark-grey);
}

body {
  margin:0px;
  font-family: Roboto;
  margin-top:55px;
  overflow:hidden;
}

.wrapper::-webkit-scrollbar {
    width: 5px !important;
    height: 5px !important;
}
.wrapper::-webkit-scrollbar-track {
    background: var(--dark-grey) !important;
}
.wrapper::-webkit-scrollbar-thumb {
    background-color: var(--accent-grey) !important;
    border: none;
    border-radius: 10px !important;
}

.imground {
  border-radius: 50%;
}

#app {
  width:100%;
  top: 42px;
  position: absolute;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  background: url('./assets/times-circle.svg') no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
@font-face {
  font-family: 'icomoon';
  src: url('./webfonts/icomoon.ttf?q5ulf9') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_down:before {
  content: "\e901";
}
.icon-question-circle:before {
  content: "\e900";
}
